<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

  <meta charset="UTF-8">
  <meta name="language" content="en">
  <meta name="description" content="{{ if .IsHome}}{{ .Site.Params.Description }}{{ else }}{{.Page.Params.Description}}{{ end }}">
  <meta name="keywords" content="{{ delimit .Keywords " , " }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- PWA -->
  <link rel="manifest" href="/manifest.json">

  <!-- Icons --> 
  <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Twitter -->
  {{ if isset .Site.Params "twitter" }}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description" content="{{ if .IsHome }}{{ htmlEscape .Site.Params.description }}{{ else }}{{ htmlEscape .Description }}{{ end }}"/>
  <meta name="twitter:site" content="{{ .Site.Params.twitterSite | default .Site.Params.twitter }}" />
  <meta name="twitter:creator" content="{{ .Site.Params.twitterCreator | default .Site.Params.twitter }}" />
  {{ end }}

  <!-- jQuery -->
  <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/font-awesome-animation.min.css">

  <!-- fullPage.js -->
  <script type="text/javascript" src="/js/fullpage-3.1.2.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/fullpage-3.1.2.min.css" />
  
  <!-- typed.js -->
  <script type="text/javascript" src="/js/typed-2.0.12.min.js"></script>

  <!-- Styles -->
  {{ block "styles" . }} {{ end }} <!-- Get "style_opts" variable from "styles" block -->
  {{ $base_styles_opts := .Scratch.Get "style_opts" | default (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
  {{ $custom_styles_opts := (dict "src" "scss/custom.scss" "dest" "css/custom.css") }}
  
  {{ $current_page := . }}
  
  {{ range (slice $base_styles_opts $custom_styles_opts) }}
    {{ $style := resources.Get .src | resources.ExecuteAsTemplate .dest $current_page | toCSS | minify | fingerprint }}
    <link type="text/css" rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}"/>
  {{ end }}
  
  {{ range .AlternativeOutputFormats }} 
  {{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.FirstSuffix.Suffix .Permalink $.Site.Title | safeHTML }} 
  {{ end }} 
  {{ block "links" . }} {{ end }}
  {{ partial "seo-schema.html" .}}

  {{- if not .Site.IsServer -}}
      {{ template "_internal/google_analytics_async.html" . }}
  {{- end -}}
  <script>


    $(document).ready(function() {
      var arrow_holder = $("#arrow-down");
      var visited = [true, false, false, false, false]

      arrow_holder.delay(600).fadeIn(1000);
             
	  $('#fullpage').fullpage({
		autoScrolling: true,
        licenseKey: 'XXXXXXXX-XXXXXXXX-XXXXXXXX-XXXXXXXX',
        onLeave: (origin, dest, direction) => {
          if (dest.index > 0 && dest.index < 5) {
            var id = dest.item.id.replace("section-", "")
            var text = id.replace("-", " ").replace(/\w\S*/g,
                      (w) => (w.replace(/^\w/,
                      (c) => c.toUpperCase()))
                  ) + '<span class="fancy">.</span>';

            if (!visited[dest.index]) {
              var typed = new Typed('#typed-' + id, {
                strings: [text],
                typeSpeed: 30,
                showCursor: false,
              });
            }
          }

		  if (origin.index == 4 && direction == 'down') {
		    arrow_holder.fadeOut("fast", function() {
		      $(".arrow-holder").css("z-index", "0");
		    });
		  }

		  if (origin.index == 5 && direction == 'up') {
		    arrow_holder.fadeIn(1000, function() {
		      $(".arrow-holder").css("z-index", "99");
		    });
          }

          visited[dest.index] = true
        }
	  });

	  (function() {
		var quotes = $(".typed-element");
		var quoteIndex = -1;
		
	    function showNextQuote() {
		  ++quoteIndex;
		  quotes.eq(quoteIndex % quotes.length)
			    .fadeIn(1000)
			    .delay(2000)
			    .fadeOut(1000, showNextQuote);
	    }
			    
	    showNextQuote();
      })();
    });

  </script>
</head>

<body>
  {{ partial "burger.html" .}} 

  {{ partial "nav.html" .}}

  {{ if .IsHome }}
    {{ partial "arrow-holder.html" .}}
 
    <div id="fullpage">
      <div class="section" id="section-main">
        <main>
          {{ block "main-section" . }} {{ end }}
        </main>
      </div>
        {{ block "sections" . }} {{ end }}
    	<div class="section fp-auto-height" id="section-footer">
        {{ block "footer" . }} {{ end }}
      </div>
    </div>
  {{ else }}
    <main>
      {{ block "main" . }} {{ end }}
    </main>
  {{ end }}

  {{ $script := resources.Get "js/index.js" | minify | fingerprint }}
  {{ if .IsHome }}
  <script src="/js/pwa.js"></script>
  {{ end }}
  <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity | safeHTMLAttr }}" crossorigin="anonymous"></script>
  {{ block "scripts" . }} {{ end }}
</body>

</html>
